<html>
<head>
	<meta charset="UTF-8">
	<title>tic tac toe 2</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.js"></script>
	<script type="text/javascript" src="main.js"></script>
</head>
<body ng-app="myApp">

<div class="wrapper" ng-controller="appController">
	<div class="title">Tic <span>Tac</span> Toe</div>
	<div class="box" ng-click="myFunction(s)" ng-class="{xclass: s.xoStatus == 'X', oclass: s.xoStatus == 'O'}"  ng-repeat="s in squares"></div>
	
</div>

<!-- made a copy of the script below div so that the event listener will work -->

<script type="text/javascript" src="main.js"></script>
	
</body>
</html>