<!DOCTYPE html>

<html>
	<head>
		<title>Tic Tac Toe</title>
		<link rel="stylesheet" type="text/css" href="style.css">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.23/angular.js"></script>
		<script type="text/javascript" src="main.js"></script>
	</head>

	<body x-ng-app="TicTacApp" x-ng-controller="TTTCtrl">

		<div class="wrapper">

			<div class="title">Tic Tac Toe</div>
			<div class="box"></div>
			<div class="box" >
				<div class="cell" x-ng-repeat="mySingleCell in board"
		 x-ng-class="{clearFix: (mySingleCell.pos % 3) == 0}"
		 x-ng-click="makeMove()">
			{{mySingleCell.status; }}
				</div>
			</div>
		<div class="box"></div>
		
	</div>
	
</body>

</html>