 html, body, .wrapper {
		height: 100%;
		background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9CoRid23aIrCLwbC1tEGz5myjJaCAv3CgAiggZZ-UMUiOFezG);
		background-repeat: no-repeat;
		background-size: cover; 
		background-attachment: fixed;
		font-family: papyrus;
	}

	.title {
		height: 20%;
		width: 99%;
		text-align: center;
		color: rgb(0, 46, 13);
 		font-size: 60px;
 		}

	.box {
		height: 80%;
		width: 33%;
		border: 1px solid black;
		float: left;
	}

	.cell {
		height: 124px;
		width: 120px;
		float: left;
		border: 3px solid rgb(0, 46, 13);
		border-radius: 30%;
		background-color: rgb(71, 47, 44);
	}

	.x {

	}

	.y {

	}

	.sides {
		text-align: center;
		font-size: 30px;
	}

	.character {
		height: 25%;
		width: 130px;
		border: 2px solid white;
		border-radius: 50%;
		margin-left: 25%;
	}



