@import url(http://fonts.googleapis.com/css?family=Slackey);

html, body, .wrapper {
	height: 100%;
	font-family: 'Slackey';
	text-align: center;
	background-image: url(images/imgres.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: red;
}

.title {
	height: 10%;
	font-size: 60px;
}

.box {
	height: 10%;
	width: 10%;
	border: 3px dashed red;
	float: left;
	padding: 7%;
	font-size: 150px;
	color: red;
	background-color: white;
	opacity: 0.3;
	margin: 10px 40px;
	text-indent: 10px;
}

#c0 {
	color: red;

}
