 html, body, .wrapper {
		height: 100%;
		background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9CoRid23aIrCLwbC1tEGz5myjJaCAv3CgAiggZZ-UMUiOFezG);
		background-repeat: no-repeat;
		background-size: cover; 
		background-attachment: fixed;
		font-family: papyrus;
	}

	.title {
		height: 10%;
		width: 99%;
		text-align: center;
		color: rgb(0, 46, 13);
 		font-size: 60px;
 		}

 	.box {
 		height: 90%;
 		width: 33%;
 		border: 1 px solid blue;
 	}

 	.side {
 	}

 	.smallBox {
		height: 30%;
		width: 30%;
		float: left;
		border: 2px solid red;
 	}

	
